/* RESPONSIVE CODE */

/*
// Course Colours
- Red           =   #ef5451
- Yellow        =   #fcb64e
- Green         =   #81c784
- Blue          =   #5ac7da
- Purple        =   #ac6cad

// Greyscale Colours
- White         =   #f1f2f2
- Light Grey    =   #e6e7e8
- Medium Grey   =   #58595b
- Black         =   #414042

- Middle Grey   =   #d1d3d4
*/

/*#############################*/

/* Width of below this value */
@media (max-width:720px) {
    
    .footer-content {
        text-align: center;
    }
    
    .footer-centre {
        padding-right: 0;
/*        text-align: right;*/
    }
    
    .footer-right {
        width: 100%;
        text-align: center;
    }
    
    footer hr {
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer-left hr:last-child {
        margin-bottom: 2em;
    }
    
}

/* Width of below this value */
@media (max-width:480px) {

    .footer-content {
        flex-flow: column;
        text-align: center;
    }

    .footer-centre {
        padding-right: 0;
    }
    
    
    .footer-left {
        width: 100%;
    }
    
    .footer-right {
        width: 100%;
    }
    
    .footer-right {
        width: 100%;
    }
    
    footer hr {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-left hr:last-child {
        margin-bottom: 2em;
    }

}