/* RESPONSIVE CODE */

/*
// Course Colours
- Red           =   #ef5451
- Yellow        =   #fcb64e
- Green         =   #81c784
- Blue          =   #5ac7da
- Purple        =   #ac6cad

// Greyscale Colours
- White         =   #f1f2f2
- Light Grey    =   #e6e7e8
- Medium Grey   =   #58595b
- Black         =   #414042

- Middle Grey   =   #d1d3d4
*/

/*#############################*/

/* Width of below this value */
@media (max-width:720px) {
    
    .header-content {
	   height: 200px;
    }
    
    .footer-content {
        text-align: center;
    }
    
    .footer-centre {
        padding-right: 0;
    }
    
    .footer-right {
        width: 100%;
        text-align: center;
    }
    
    footer hr {
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer-left hr:last-child {
        margin-bottom: 2em;
    }
    
}

/* Width of below this value */
@media (max-width:620px) {
    
    .header-content {
        margin-bottom: 4em;
/*        border: 1px solid red;*/
    }
    
    .header-content-logo img{
/*        border: 1px solid red;*/
    }
    
    .header-content-video {
        display: none;
    }
    
    .mobile-header-lines {
        display: flex;
        position: relative;
        justify-content: center;
        flex-wrap: nowrap;
        height: 150px;
        padding: 10px 0;
        width: 100%;
        margin-bottom: 4em;
        overflow: hidden;
    }

    .mobile-header-lines>video {
        display: block;
        position: relative;
        margin: 0 auto;
        height: 250%;
    }

    .mobile-header-lines>img {
        display: none;
        position: relative;
        margin: 0 auto;
        height: 250%;
    }
    
}

/* Width of below this value */
@media (max-width:480px) {
    
    .header-content {
        height: 150px;
        margin-bottom: 3em;
    }
    
    .mobile-header-lines {
        height: 120px;
        margin-bottom: 3.2em;
    }

    .footer-content {
        flex-flow: column;
        text-align: center;
    }
    
    .footer-centre {
        padding-right: 0;
    }
    
    .footer-left {
        width: 100%;
        margin-bottom: 0;
    }
    
    .footer-right {
        width: 100%;
    }
    
    .footer-right {
        width: 100%;
    }
    
    footer hr {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-left hr:last-child {
        margin-bottom: 1.2em;
    }
    
    .private-view, .public-opening {
        min-width: 330px;
        text-align: center;
    }
    
    .public-opening span, .private-view span {
        text-align: center;
        font-size: 1.2em;
    }

}